*.aps
*.bak
/.vs
/HeizkalenderInstallation/.vs
/HeizkalenderInstallation/x64
/HeizkalenderInstallation/Bin
/HeizkalenderInstallation/enc_temp_folder
/HeizkalenderInstallation/HeizkalenderInstallation.vcxproj.user
